<div class="ui menu">
  <div class="item">
    <button class="ui icon button" {{action 'toggleSidebar'}}>
        <i class="maximize icon"></i>
    </button>
  </div>
  <div class="item">
      <div class="ui input">
        {{input value=model.name}}
      </div>
  </div>

  <div class="menu">

    <div class="item">
      <button class="ui icon primary button" {{action 'saveVisualizerState'}}>
        <i class="save icon"></i>
      </button>
    </div>

    <div class="item">
      {{#link-to 'views.edit' model class="ui icon button"}}
        <i class="setting icon"></i>
      {{/link-to}}
    </div>

    <div class="item">
      <button class="ui icon button" {{action 'setVisualizerState' model}}>
        <i class="refresh icon"></i>
      </button>
    </div>
  </div>
</div>
{{visualizer-iframe devsrc='http://localhost:8000/src/index.html' prodsrc='assets/visualizer-build/index.html'}}
