<div class="ui sidebar inverted vertical menu visible left">
    <div class="item">
      <div class="ui two column grid">

        <div class="twelve wide column">
          <h1 class="ui header inverted">
            {{model.name}}
            <div class="sub header">{{model.description}}</div>
          </h1>
        </div>

        <div class="one wide column">
          {{#link-to 'machines' activeClass="circular ui icon mini button inverted"}}
            <i class="icon settings"></i>
          {{/link-to}}
        </div>

      </div>
    </div>

    <div class="item">

      <div class="header">
        <div class="ui label ribbon"><i class="icon dashboard"></i> DASHBOARD</div>


        {{#link-to 'views.new' class="circular ui icon mini button inverted right floated"}}
          <i class="icon add"></i>
        {{/link-to}}
      </div>

       <div class="menu">
         {{#each model.views as |view|}}

          {{#link-to 'views.show' view class="item"}} {{view.name}} {{/link-to}} 

         {{/each}}

      </div>
     </div>



    <div class="item">
      <div class="header">
        <div class="ui label ribbon" style="background:#111111; color: white">
          <i class="icon wifi"></i> CONNECTIONS
        </div>

        {{#link-to 'connections.new' class="circular ui icon mini button inverted right floated"}}
          <i class="icon add"></i>
        {{/link-to}}
      </div>

      <div class="menu">
        {{#each model.connections as |connection|}}

          {{#link-to 'connections.edit' connection class="item"}}{{connection.name}}{{/link-to}}

        {{/each}}
      </div>
    </div>

      <div class="item">
      <div class="header">
        <div class="ui label ribbon" style="background:#111111; color: white">
          <i class="icon cubes"></i> DEVICES
        </div>

        <button class="circular ui icon mini button inverted right floated">
          <i class="icon add"></i>
        </button>
      </div>

      <div class="menu">
        {{model.devices.length}}
        {{#each model.devices as |device|}}

            <a>{{device.name}}</a>

        {{/each}}
      </div>
    </div>
  </div>

<div class="pusher">
  {{outlet}}
 </div>
